[Unit]
Description = Rebind keys on wake up
After=suspend.target

[Service]
Environment=DISPLAY=:0.0
ExecStart=-/home/thomas/bin/x 

[Install]
WantedBy=suspend.target
