[Unit]
Description=xmodmap
After=sleep.target

[Service]
User=%I
Type=simple
ExecStart=/usr/bin/xmodmap /home/thomas/.Xmodmap

[Install]
WantedBy=sleep.target
