[Unit]
Description = Rebind keys on wake up
After=suspend.target

[Service]
Environment=DISPLAY=":0.0"
ExecStart=-/usr/bin/xmodmap /home/thomas/.Xmodmap

[Install]
WantedBy=suspend.target
