// Vim swap files
*.swp
*.swo

// Vim command history
*.netrwhist

// ctags file
tags

// cscope files
cscope.*
typescript

// Patches
*.patch

// Compiled files
*.o
*.pyc
*.pyo
*.out

// Eclipse files
*.cdt*
*.pydev*
*.eclipse*
.project
