[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-unimpaired"]
	path = .vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/vim-eunuch"]
	path = .vim/bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule ".vim/bundle/vim-vividchalk"]
	path = .vim/bundle/vim-vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/jscomplete"]
	path = .vim/bundle/jscomplete
	url = https://github.com/teramako/jscomplete-vim.git
[submodule ".vim/bundle/nodejs-complete"]
	path = .vim/bundle/nodejs-complete
	url = https://github.com/myhere/vim-nodejs-complete.git
[submodule ".vim/bundle/vim-scala"]
	path = .vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule ".vim/bundle/python-mode"]
	path = .vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule ".vim/bundle/VimClojure"]
	path = .vim/bundle/VimClojure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule ".vim/bundle/vim-fireplace"]
	path = .vim/bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule ".vim/bundle/clojure-static"]
	path = .vim/bundle/clojure-static
	url = https://github.com/guns/vim-clojure-static.git
[submodule ".vim/bundle/vim-slamhound"]
	path = .vim/bundle/vim-slamhound
	url = https://github.com/guns/vim-slamhound.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/vim-jsx"]
	path = .vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule ".vim/bundle/jsx"]
	path = .vim/bundle/jsx
	url = https://github.com/jsx/jsx.vim.git
[submodule ".vim/bundle/vim-clojure-highlight"]
	path = .vim/bundle/vim-clojure-highlight
	url = https://github.com/guns/vim-clojure-highlight.git
[submodule ".emacs.d/submodules/clj-refactor.el"]
	path = .emacs.d/submodules/clj-refactor.el
	url = https://github.com/clojure-emacs/clj-refactor.el.git
[submodule ".vim/bundle/vim-clojure-static"]
	path = .vim/bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
[submodule ".vim/bundle/paredit"]
	path = .vim/bundle/paredit
	url = https://github.com/vim-scripts/paredit.vim.git
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = https://github.com/vim-scripts/paredit.vim.git
[submodule ".emacs.d/submodules/cider"]
	path = .emacs.d/submodules/cider
	url = https://github.com/clojure-emacs/cider.git
[submodule ".emacs.d/submodules/clj-refactor"]
	path = .emacs.d/submodules/clj-refactor
	url = https://github.com/clojure-emacs/clj-refactor.el.git
[submodule ".emacs.d/submodules/magit"]
	path = .emacs.d/submodules/magit
	url = https://github.com/magit/magit.git
[submodule ".emacs.d/submodules/magit-gh-pulls"]
	path = .emacs.d/submodules/magit-gh-pulls
	url = https://github.com/sigma/magit-gh-pulls.git
[submodule ".emacs.d/submodules/slamhound"]
	path = .emacs.d/submodules/slamhound
	url = https://github.com/technomancy/slamhound.git
[submodule ".emacs.d/submodules/kibit-helper"]
	path = .emacs.d/submodules/kibit-helper
	url = https://github.com/brunchboy/kibit-helper.git
[submodule ".emacs.d/submodules/squiggly-clojure"]
	path = .emacs.d/submodules/squiggly-clojure
	url = https://github.com/clojure-emacs/squiggly-clojure
